* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
p{
    font-family: Arial,sans-serif;
}
ul{
    font-family: Arial,sans-serif;
}
li{
    font-family: Arial,sans-serif;
}
.page1{
    background-color: #E5E5E5;  
    position: relative;overflow: hidden;height: 180vh;
}
.heading{
    background-color: white;
    height: 10vh;width:fit-content;

}
.heading p{
position: relative;left: 450px;top: 15px;
color: gray;font-size: 3rem;
}
.menubar{
    background-color: white;
    height: 10vh;width: 75vh;
    position: relative;bottom: 90px;left: 32%;
    border-radius: 50px;box-shadow: 5px 5px 5px gray;
}
.menubar ul {
    list-style: none;
    display: flex;
}
.menubar li{
    color: #27a6c2;font-size: 1.5rem;
    margin: 0 25px;
    position: relative;top: 35px;left: 30px;
}
.line1{
    display: flex;
    height: 4vh;width: 0.35vh;
    background-color: #27a6c2;
    position: relative;left: 170px;
}
.line2{
    display: flex;
    height: 4vh;width: 0.35vh;
    background-color: #27a6c2;
    position: relative;left: 278px;bottom: 38px;
}
.line3{
    display: flex;
    height: 4vh;width: 0.35vh;
    background-color: #27a6c2;
    position: relative;left: 410px;bottom: 75px;
}
.line4{
    display: flex;
    height: 4vh;width: 0.35vh;
    background-color: #27a6c2;
    position: relative;left: 550px;bottom: 113px;
}
.advisory{
    display: flex;justify-content: center;
    position: relative;top: 200px;
    font-size: 3.5rem;
}
.cub1{
    width: 300px;height: 350px;
    background-color: white;
    border-radius: 40px;
}
.cub2{
    width: 300px;height: 350px;
    background-color: #27a6c2;
    border-radius: 40px;
}
.cub3{
    width: 300px;height: 350px;
    background-color: #e35f24;
    border-radius: 40px;
}
.cub4{
    width: 300px;height: 350px;
    background-color: white;
    border-radius: 40px;
}
.cubici{
    display: flex;gap: 50px;
    justify-content: center;
    position: relative;top: 250px;
}
#cub1_1{
    font-size: 1.8rem;
    display: flex;
    position: relative;top: 50px;left: 20px;
}
#cub1_2{
    font-size: 1.1rem;
    display: flex;
    position: relative;top: 70px;left: 20px;
    line-height: 2;
}
#cub1_3{
    font-size: 1.3rem;
    display: flex;
    position: relative;top: 100px;left: 20px;
}
.cub1line{
    display: flex;
    width: 55px;height: 5px;
    background-color: black;
    position: relative;top: 100px;left: 20px;
}
#cub2_1{
    font-size: 1.8rem;
    display: flex;
    position: relative;top: 50px;left: 20px;
    color: white;
}
#cub2_2{
    font-size: 1.1rem;
    display: flex;
    position: relative;top: 70px;left: 20px;
    line-height: 2;
    color: white;
}
#cub2_3{
    font-size: 1.3rem;
    display: flex;
    position: relative;top: 100px;left: 20px;
    color: white;
}
.cub2line{
    display: flex;
    width: 55px;height: 5px;
    background-color: white;
    position: relative;top: 100px;left: 20px;
}
#cub3_1{
    font-size: 1.8rem;
    display: flex;
    position: relative;top: 50px;left: 20px;
    color: white;
}
#cub3_2{
    font-size: 1.1rem;
    display: flex;
    position: relative;top: 70px;left: 20px;
    line-height: 2;
    color: white;
}
#cub3_3{
    font-size: 1.3rem;
    display: flex;
    position: relative;top: 100px;left: 20px;
    color: white;
}
.cub3line{
    display: flex;
    width: 55px;height: 5px;
    background-color: white;
    position: relative;top: 100px;left: 20px;
}
#cub4_1{
    font-size: 1.8rem;
    display: flex;
    position: relative;top: 50px;left: 20px;
}
#cub4_2{
    font-size: 1.1rem;
    display: flex;
    position: relative;top: 70px;left: 20px;
    line-height: 2;
}
#cub4_3{
    font-size: 1.3rem;
    display: flex;
    position: relative;top: 100px;left: 20px;
}
.cub4line{
    display: flex;
    width: 55px;height: 5px;
    background-color: black;
    position: relative;top: 100px;left: 20px;
}
.page2{
    background-color: #27a6c2;  
    position: relative;overflow: hidden;height: 100vh;
}
#capabil{
    display: flex;justify-content: center;
    color: white;font-size: 4.5rem;
    position: relative;top: 50px;
}
#resultofour{
    display: flex;justify-content: center;
    color: white;font-size: 1.5rem;
    position: relative;top: 80px;
}
.cubes{
    display: flex;gap: 30px;
    justify-content: center;
    position: relative;top: 20%;
}
.cube1{
    width: 450px;height: 550px;
    background-color: white;
    border-radius: 20px;
}
.cube2{
    width: 450px;height: 550px;
    background-color: white;
    border-radius: 20px;
}
.cube3{
    width: 450px;height: 550px;
    background-color: white;
    border-radius: 20px;
}
.cube1 p{
    display: flex;
    color: #e35f24;font-size: 2.5rem;
    position: relative;top: 250px;left: 20px;
}
.cube2 p{
    display: flex;
    color: #e35f24;font-size: 2.5rem;
    position: relative;top: 250px;left: 20px;
}
.cube3 p{
    display: flex;
    color: #e35f24;font-size: 2.5rem;
    position: relative;top: 250px;left: 20px;
}
.cube1 ul{position: relative;top: 280px;left: 50px;}
.cube1 li{font-size: 1.7rem;}
.cube2 ul{position: relative;top: 280px;left: 50px;}
.cube2 li{font-size: 1.7rem;}
.cube3 ul{position: relative;top: 300px;left: 50px;}
.cube3 li{font-size: 1.7rem;}
#cloud{
    display: flex;
    width: 850px;height: 600px;
    position: relative;left: 30%;top: 25%;
    justify-content: center;align-items: center;background-repeat: no-repeat;
    transform: translateY(-100%);
    animation: bounceIn 1.5s ease-out forwards;
}
@keyframes bounceIn {
    20% {
      transform: scale(0) translateY(-50%);
    }
    10% {
      transform: scale(0) translateY(-30%);
    }
    0% {
      transform: scale(0) translateY(-10%);
    }
    100% {
      transform: scale(100%) translateY(-55%);
    }
  }
  
  .animated {
    opacity: 0;
    transform: translateY(20px);
    animation: fadeIn 3s forwards;
  }
  @keyframes fadeIn {
    to {
      opacity: 1;
      transform: translateY(0);
    }
  }
  .animated1 {
    opacity: 0;
    transform: translateY(20px);
    animation: fadeIn 2s forwards;
  }
  .animated2 {
    opacity: 0;
    transform: translateY(20px);
    animation: fadeIn 6s forwards;
  }